<div class="modal fade" id="ForgotPasswordModal" tabindex="-1" aria-labelledby="ForgotPasswordModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-close">
                    <button type="button" class="btn-close float-end" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="text-center mb-2">
                    <h3 class="mt-2">Mot de passe oublié?</h3>
                    <div class="d-flex flex-row bd-highlight mb-3 align-self-center justify-content-center">
                        <div class="p-2 bd-highlight">
                            <p>Entrez l'adresse e-mail que vous avez utilisée lors de votre inscription et nous vous
                                enverrons des instructions pour réinitialiser votre mot de passe.</p>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <form name="ForgotPasswordModal" method="POST" novalidate
                        action="{{ path('app_forgot_password_request') }}">
                        <div id="result" class="mb-4"></div>
                        <div class="mb-3">
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="form-label">Adresse email</label>
                            </div>
                            <input type="email" class="form-control" name="email" id="email_lost_pass"
                                placeholder="Adresse Email" required="">
                        </div>
                        <div class="d-grid mb-3">
                            <button type="submit" class="btn btn-primary">Valider</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer d-block text-center">
                <a class="nav-link fw-bold p-0" href="javascript:;" role="button" data-bs-toggle="modal"
                    data-bs-target="#LoginModal">
                    Retour à la page de connexion</a>
            </div>
        </div>
    </div>
</div>